<header class="header">
    <div class="container nav">
        <a href="index.html" class="logo">
            <img src="assets/images/logo-cenzas.png" alt="cenzas logo">
        </a>
        <div class="nav__links">
            <a href="index.html" class="nav__link">PAGRINDINIS</a>
            <div class="nav__dropdown">
                <a href="javascript:void(0)" class="nav__link">PASKOLA <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 6.5L0.669873 0.5L9.33013 0.500001L5 6.5Z" fill="currentColor"></path></svg></a>
                <div class="nav__dropdown-menu">
                    <a href="greitos-paskolos.html">Kaip gauti paskolą</a>
                    <a href="paskolos-be-pajamu-vertinimo.html">D.U.K</a>
                </div>
            </div>
            <a href="apie.html" class="nav__link">APIE</a>
            <a href="pildyti-paraiska.html" class="nav__link">PILDYTI PARAIŠKĄ</a>
            <a href="nt-statistika.html" class="nav__cta nav__cta--blue" id="btn-nav-analysis">NT ANALIZĖ</a>
            <a href="kontaktai.html" class="nav__link">KONTAKTAI</a>
            <a href="tel:+37068729934" class="nav__cta">+370 687 29934</a>
        </div>
    </div>
</header>
